body {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  margin: 0;
  font-family: Helvetica;
}

img {
  width: 100px;
  height: 100px;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

button {
  grid-row: 5;
}